apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: devops-microservices-app
  namespace: argocd
spec:
  project: default
  source:
    repoURL: 'https://github.com/Hemantdeshwal/devops-microservices-platform.git'
    targetRevision: main
    path: k8s/manifests
  destination:
    server: 'https://kubernetes.default.svc'
    namespace: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true

